<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
    <h1>Welcome, new user!</h1>
    <p>
      <%= @user.email %>, join us in creating a vibrant wiki atmostphere!
    </p>
    <p>
      You signed up using <%= @user.email %>. This will be the email you use to login.
    </p>
  </body>
</html>